#Endre
Endre Mork <endremor@stud.ntnu.no> Endre Mork <endremor@stud.ntnu.no>
Endre Mork <endremor@stud.ntnu.no> Endre <endremor@stud.ntnu.no>
#Jostein
Jostein Kleveland <jostekl@stud.ntnu.no> Jostein Kleveland <jostekl@stud.ntnu.no>
Jostein Kleveland <jostekl@stud.ntnu.no> Jostein <you@example.com>
Jostein Kleveland <jostekl@stud.ntnu.no> Jostein <jostekl@stud.ntnu.no>
#Simen
Simen Eidal <simeeid@stud.ntnu.no> Simen Eidal <simeeid@stud.ntnu.no>
Simen Eidal <simeeid@stud.ntnu.no> Simen <simeeid@stud.ntnu.no>
#William
William Andreas Krohn Marleau <wamarlea@stud.ntnu.no> William Andreas Krohn Marleau <wamarlea@stud.ntnu.no>
William Andreas Krohn Marleau <wamarlea@stud.ntnu.no> William <wamarlea@ntnu.no>

#Adrian
Adrian Stoica <stoica@ntnu.no> Adrian Stoica <stoica@ntnu.no>
